*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
justify-content: center;
align-items: center;
}
.tip-container{
    width: 40%;
    height: auto;
    background-color: rgb(219, 151, 196); 
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

.headline{
    text-align: center;
    margin-bottom: 10px;
}
p, label{
    font-size: 16px;
}

.text{
    margin-bottom: 10px;
}

label, button{
    display: block;
}

input, button{
    width: 100%;
    font-size: 20px;
    margin: 10px 0;
}

button{
    background-color: rgb(197, 255, 255);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
}